* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

body {
    background-color: white;
}

h1, h2 {
    margin: 0;
}

main {
    background-image: linear-gradient(to bottom, #F2A50A, #F2DD0A, #F2C10A, #F2840A);
    background-attachment: fixed;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}